extends ./template

block content
    h1.
        Leave Your Mark
    p
        | Welcome to #{functions.apostrophize(name)} MessageBox.
        br
        | Ink your pen, dot your i's, and cross your t's.
    h1.
        Sign on the Dotted Line
    form
        label(for='name').
            Your Name
        input(name='name', id='name')
        label(for='message').
            Your Message
        textarea(name='message', id='message', class='ckeditor')
        button(type='submit').
            Submit

block javascript
    script(src='/js/vendor/ckeditor/ckeditor.js')
    script(src='/js/vendor/ckeditor/adapters/jquery.js')
    script(type='text/javascript').
        $('#message').ckeditor();