html
    head
        title.
            MessageBox - #{title}
        link(href='/css/main.css', rel='stylesheet')

    body
        header.margin
            h1#title MessageBox
        section.content.margin
            block content
    footer
        script(src='/js/vendor/jquery-1.11.3.min.js')
        block javascript