@font-face {
  font-family: aargh;
  src: url(/fonts/Aaargh.ttf); }
@font-face {
  font-family: dekar;
  src: url(/fonts/Dekar.otf);
  font-weight: normal; }
@font-face {
  font-family: dekar;
  src: url(/fonts/Dekar-light.otf);
  font-weight: 100; }
html {
  background-color: #e6e6e6;
  font-family: aargh, sans-serif; }

h1 {
  font-family: dekar, sans-serif; }

body {
  margin: 0; }

.margin {
  width: 85%;
  padding: 0 7.5%; }

h1 {
  font-size: 32px; }

p {
  font-size: 18px; }

header {
  background-color: #304964;
  color: #a26303;
  margin-top: -20px; }
  header h1 {
    font-size: 48px;
    padding: 30px 0; }

form {
  width: 90%;
  margin: 0 auto; }
  form label {
    margin: 10px 0;
    display: block;
    font-size: 18px;
    cursor: pointer; }
  form input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    display: block; }
  form textarea.ckeditor {
    min-height: 244px; }

/*# sourceMappingURL=main.css.map */
